@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');/* font-family: 'Passion One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');/* font-family: 'Kaushan Script', cursive; */

:root{
    --fonte1:'Verdana, Geneva, Tahoma, sans-serif';
    --fonte2: 'Passion One', cursive; 
    --fonte3:'Kaushan Script', cursive;
    
}

*{ 
    font-size:1em;
    margin:0px;
    padding:0px;
}
hmtl,body{
background-color:darkgray;
min-height:100vh;
font-family: var(--fonte1);


}
header{
    background-color:black;
  color:white;
  text-align:center;

}
header h1{
    font-size:10vw;/* Irá aumentar gradualmente a letra do título conforme o tamanho da tela mude */
    font-family:var(--fonte2);
    padding-top:50px;
    font-variant:small-caps;/*Transforma as letras deixando elas um pouco maoiores  */
}
header p{

    padding-bottom:50px;
}
header a, footer a{
    color:white;
    text-decoration: none; /* Tira a decoração */
    font-weight:bolder;

}
header a:hover, footer a:hover{
    text-decoration:underline; /* Coloca a decoração */

}


section{
font-size:3.5vw; 
font-family:var(--fonte3);
padding-top:10vh; /* baixo */
padding-bottom:10vh;/* Com esses dois comandos, irá fazer com que a section fique grande o suficiente para que em uma tela de computador, caiba apenas duas sections, e na de um celular, caiba apenas uma section */
line-height:2em;/* Cria um espaçamento entre as linhas */
padding-left:30px;

}


section.normal{
 background-color: white;     color:black;
}
section.normal > p{
    padding-bottom:5vh;
}
section.imagem{
    background-color:rgb(51,51,51);
    color:white;
    background-size:cover;
    background-position:right;
}
section.imagem > p/* modifica todo o parágrafo dentro da section com class="image" */{
    background-color:rgba(0, 0, 0, 0.253);
    display:inline-block;/* irá fazer com que a imagem fique na mesma linha do conteúdo, ou seja, a imagem irá se adaptar ao tamanho do conteúdo */
    padding:5px;

    
}
section#img1{
background-image:url(./imagens/background001.jpg);
background-attachment: fixed;
}
section#img2{
background-image:url(./imagens/background002.jpg);
background-attachment:fixed;
text-shadow: inset 2px 1px 1px 0px rgba(0, 0, 0, 0.439);
box-shadow:inset 6px 6px 13px 0px rgba(0, 0, 0, 0.41);
}

footer{
    background-color:black;
    color:white;
    text-align:center;
    padding:10px;
}