@charset "UTF-8";
@font-face {
    font-family:'Android';
    src: url(fontes/idroid.otf) format('opentype');
    font-weight:normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*<a href="anotaçãovariavelcss.html"> */
*{
    margin:0px;
    padding:0px;
}


:root {
    --cor0: #ebe5c5;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37; 
    --cor5: #063d1e;

    --fonte-padrão:Arial,verdana,Helvetica,sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'Android';
}

body{
    background-color:var(--cor0);
    font-family:var(--fonte-padrão);
}
p{
    margin:15px 0px;
    
}
header{
    background-image:linear-gradient(to bottom,var(--cor3), var(--cor5));
    min-height:150px;
    padding-top:15px;
    padding-right:10px;
    padding-left:10px;
    padding-bottom:5px;
   
}
header>h1{
    color:white;
font-family:var(--fonte-destaque);
font-weight:normal;
text-align:center;
margin-bottom: 20px;
font-size:3em;
text-shadow:2px 2px 0px rgba(0, 0, 0, 0.46);
}
header>p{
        color:white;
        text-align:center;
        font-family:var(--fonte-padrão);
        font-size:1.2em;
        max-width:500px;
      
        margin:auto;/* virou automaticamente um block-level, por isso esse comando */
        text-shadow:2px 2px 0px rgba(0, 0, 0, 0.459);
    }

nav{
     background-color:var(--cor5);
    box-shadow:0px 10px 7px rgba(0, 0, 0, 0.213);
    margin-top:10px;
}
nav>a{
    color:white;
    padding:10px;
    text-decoration:none;
    font-weight:bold;
}
nav>a:hover{
    background-color:var(--cor3);
   color:var(--cor5);
   border-radius:6px;
    transition:.3s;/* Irá criar uma animação quando você passar por cima */
}
main{
    background-color:white;
    padding:20px;
    max-width:900px;
    min-width:300px;
    margin:auto;
    margin-bottom:10px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.501);
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}


article>h1{
    background-color:var(--cor3);
    color:var(--cor5);
    font-weight:normal;
font-family:var(--fonte-android);
}
article h2{
    font-family:var(--fonte-android)
}
main h2{
   color:var(--cor4);
   font-size:1.2em;
   font-weight:normal;
    background-image: linear-gradient(to right, var(--cor3), transparent);
    text-indent:8px;
}

main p{
    text-indent:30px;
    line-height:1.4em;
    font-size:16px;
}
a.externo:after{
   content:"\00a0\1f517"
}
main > strong{
    color:var(--cor3);
    background-color:var(--cor0);
    font-weight:bold;
    padding:4px;
}
main a{
    text-decoration:none;
   background-color: var(--cor2);
   padding:2px 3px;
   
}
main a:hover{
    text-decoration:underline;
}

article>img.pequeno{
    max-width:300px;
    display:block;/* Uma imagem é inline-block */
    margin:auto;/* Precisa ser bloco para esse comando funcionar */
} 

article img{
    width:100%;
    margin:auto;
}


.video{
   background-color: gray;

   padding-top:10%;
   padding-bottom:50%;
   /*padding-bottom:55%; */
   margin-bottom:10px;
   margin-left:-20px;
   margin-right:-20px;
   position:relative;
   
}
.video>iframe{
    position:absolute;
    background-color:white;
    top: 5%;
    left: 5%;
    width:90%;
  height:90%;

}
aside{
    background-color:var(--cor2);
    padding:10px;
    border-radius:10px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.558);
}
aside>h3{
    background-color:var(--cor3);
    color:white;
    padding:10px;
    margin-top:-10px;
    margin-left:-10px;
    margin-right:-10px;
    margin-bottom:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
aside>ul{
    list-style-position: inside;
    list-style-type:"\2714\00a0\00a0";
    columns: 2;

}
footer{
   
    background-color:var(--cor5);
    color:white;
    text-align:center;
    font-size:0.8em;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom:5px;
    padding-right:5px;
    margin-top: -10px;
}
footer a{
    text-decoration:none;
    color:white;
}
footer a:hover{
    text-decoration: underline;
    color:var(--cor1);
}